.App {
  text-align: center;
  margin: 100px 200px;
  border: solid 1px;
  padding: 2%;
}

.Task {
  background-color: lightgrey;
  margin: 10px 3px;
  padding: 2%;
  text-align: left;
}

.Task .Text{
  display: flex;
  justify-content: space-between;
  font-weight: 900;
}

.Task.remindMe {
  border-left-style: solid;
  border-width: 5px;
  border-color:green;
}

.Header {
  display: flex;
  
  justify-content: space-between;
  padding: 5%;
}

.Header button{
  transition: 0.5s;
}

.form-control {
  display: flex;
  justify-content: space-between;
}